body {
    font-size: 90%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

@media screen and (max-width: 580px) {
    #name {
        font-size: 85%;
    }
    #quoteContent {
        font-size: 4vw;
        font-family: 'Courgette';
    }
    #quoteBtn {
        font-size: 3vw;
    }
    #dropItem {
        font-size: small;
    }
}

@media screen and (min-width: 581px) {
    #quoteContent {
        font-size: 150%;
        font-family: 'Courgette';
    }
}


/* #quoteContent {
    font-family: 'Courgette';
    font-size: 150%;
} */

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}